@charset "utf-8";

body, div, input, textarea, img {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

input, textarea {
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: white;
    margin: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
}

input {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
    width: 310px;
    height: 23px;
}

input.must {
    border-right-color: red;
    border-right-width: 3px;
}

.input_label {
    text-align: right;
    font-size: 13px;
    padding: 5px;
}

.msg_info {
    text-align: left;
    font-size: 12px;
    padding: 2px;
    color: green;
}

.msg_error {
    text-align: left;
    font-size: 12px;
    padding: 2px;
    color: red;
}

textarea {
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    display: block;
    box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.18) inset;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font: 14px/20px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.close_float {
    overflow: hidden;
}

.clear_float {
    float: none;
    clear: both;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.block {
    display: block;
}

.inline_block {
    display: inline-block;
}

.auto {
    margin: 0 auto;
}

.border {
    border-radius: 3px;
    border: 1px solid #ccc;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.warn {
    color: red;
    font-size: 11px;
}

.common_button {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #24A828;
    border-radius: 3px;
    font-size: 14px;
    height: 16px;
    padding: 12px 20px;
    cursor: pointer;
    min-width: 80px;
    display: inline-block;
}

.common_button:hover {
    background-color: #1F9323;
}

.top {
    text-align: center;
    background-color: #000;
    height: 44px;
    background-image: url("images/top.png");
    font-size: 15px;
    border-bottom: 1px solid #000;
}

.top_button {
    text-align: center;
    color: #f0f0f0;
    text-decoration: none;
    border-radius: 3px;
    text-shadow: 0px -1px 1px #000;
    font-size: 15px;
    padding: 10px 10px;
    margin: 2px 0 0 20px;
}

.top_button:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px #fff;
    background-color: #4D524D;
}

.top_button.selected {
    background-color: #24A828;
}

.bottom {
    border-top: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    color: #999;
}

.content {
    width: 970px;
    margin: 0 auto 0 auto;
    position: relative;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h480 {
    height: 480px;
}

.w100 {
    width: 100px;
    display: inline-block;
}

.w150 {
    width: 150px;
    display: inline-block;
}

.w170 {
    width: 170px;
    display: inline-block;
}

.w200 {
    width: 200px;
    display: inline-block;
}

.w600 {
    width: 600px;
    display: inline-block;
}

.w75 {
    width: 75px;
    display: inline-block;
}

.w50 {
    width: 50px;
    display: inline-block;
}

.w20 {
    width: 20px;
    display: inline-block;
}

.small_text {
    font-size: 11px;
}

.middle_text {
    font-size: 13px;
}

.link {
    cursor: pointer;
    font-weight: bold;
    color: #24A828;
}

.link:hover {
    color:  #385f8a;
}

.global_background {
    background-color: #d0d0d0;
    background-image: url("images/bg_grid.png");
    background-repeat: repeat;
}

.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    color: #778087;
}

.box_header {
    padding: 4px 2px;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
}

.box_header > .link {
    min-width: 60px;
    padding: 3px;
    text-align: center;
}

.box_content {
    padding: 2px 2px;
    overflow: hidden;
}

.box_message {
    padding: 10px;
    font-size: 13px;
    background-color: #f3faff;
    border-left: 5px solid #c7e8ff;
    border-bottom: 1px solid #e2e2e2;
    color: #333;
}

.inner_box {
    margin: 10px 0 0 40px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #e2e2e9;
    color: #778087;
    font-size: 11px
}

.inner_box_header {
    padding: 6px 10px;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
}

.form {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    width: 750px;
    margin: 0 auto 0 auto;
}

.common_list {
    max-height: 800px;
    overflow: hidden;
}

.list_header {
    padding: 3px 5px 0px 5px;
    border-bottom: 1px solid #e2e2e2;
    color: #000000;
    font-weight: bold;
    background-color: #f8f8f9;
}

.list_item:hover {
    background: #F1EDED;
}

.common_list > .list_item {
    padding: 3px 5px;
    border-bottom: 1px solid #e2e2e2;
}

.scroll_list > .list_header {
    margin-right: 10px;
    padding: 3px 5px 0px 5px;
    border-bottom: 1px solid #e2e2e2;
    color: #000000;
    font-weight: bold;
    background-color: #f8f8f9;
}

.scroll_list > .list_item {
    margin-right: 10px;
    padding: 3px 5px;
    border-bottom: 1px solid #e2e2e2;
}

.mid_chart {
    height: 300px;
}

.big_chart {
    height: 600px;
}

.super_chart {
    height: 2000px;
}

.customer_list {
    width: 169px;
    height: 440px;
    border-right: 1px solid #e2e2e2;
}

.customer_list > .list_item.selected {
    background: #EDEEF5;
}

.customer_list > .list_item:hover {
    cursor: pointer;
}

.message_panel {
    width: 800px;
    float: right;
}

.message_list {
    height: 290px;
}

.message_list > .list_item.selected {
    display: block;
}

.chat_title {
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    padding: 3px 5px 0px 5px;
}

.chat_message_list {
    padding: 0 15px;
    height: 265px;
}

.chat_message_list > .list_item {
    cursor: default;
    padding: 0 10px 0 10px;
    height: auto;
    overflow: hidden;
    zoom: 1;
    border: none;
}

.chat_message_list > .list_item:hover {
    background: transparent;
}

.chat_message_me, .chat_message_friend {
    padding: 2px 0;
    position: relative;
    color: #212324
}

.chat_message_me {
    min-width: 10%;
    max-width: 80%;
    float: right;
    position: relative;
    clear: both;
}

.chat_message_friend {
    min-width: 5%;
    max-width: 80%;
    float: left;
    position: relative;
    clear: both;
}

.chat_message_me > .chat_message_time, .chat_message_friend > .chat_message_time {
    height: 12px;
    font-size: 10px;
    padding: 2px 0;
}

.chat_message_me > .chat_message, .chat_message_friend > .chat_message {
    padding: 2px;
    border: 1px solid #b4cc85;
    background: #b4cc85;
    border-radius: 3px;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.chat_message_me > .chat_message_time {
    text-align: right;
}

.chat_message_friend > .chat_message_time {
    text-align: left;
}

.chat_message_me > .chat_message_arrows, .chat_message_friend > .chat_message_arrows {
    border-width: 6px 6px 6px 6px;
    position: absolute;
}

.chat_message_friend > .chat_message_arrows {
    border-color: transparent #b4cc85 transparent transparent;
    border-style: dashed solid dashed dashed;
    top: 20px;
    left: -12px;
}

.chat_message_me > .chat_message_arrows {
    border-color: transparent transparent transparent #b4cc85;
    border-style: dashed dashed dashed solid;
    top: 20px;
    right: -11px;
}

.chat_message_form {
    margin: 0 5px;
    padding: 2px;
    border: none;
}

.chat_message_form > textarea {
    overflow: hidden;
    height: 70px;
    padding: 8px;
    width: 765px;
    font-size: 12px;
}

